<div class="sidebar">
  <div class="logo-details">
    <i class="bx bx-home icon"></i>
    <div class="logo_name">NombreApp</div>
    <i class="bx bx-home" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <a href="/">
        <i class="bx bx-home"></i>
        <span class="links_name">Inicio</span>
      </a>
      <span class="tooltip">Inicio</span>
    </li>
    <li>
      <a href="/eventos">
        <i class="bx bx-info-square"></i>
        <span class="links_name">Eventos</span>
      </a>
      <span class="tooltip">Eventos</span>
    </li>
    <li>
      <a href="/cupones">
        <i class="bx bxs-discount"></i>
        <span class="links_name">Cupones</span>
      </a>
      <span class="tooltip">Cupones</span>
    </li>
    <li>
      <a href="/nosotros">
        <i class="bx bxl-facebook"></i>
        <span class="links_name">Nosotros</span>
      </a>
      <span class="tooltip">Nosotros</span>
    </li>
    <li class="profile">
      <a href="/login">
        <i class="bx bx-cog"></i>
        <span class="links_name">Login</span>
        <i class="bx bx-user" id="log_out"></i>
      </a>
    </li>
  </ul>
</div>
