<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NombreApp</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <%- include('partials/sidebar') %>

    <section class="home-section">
      <div class="text">Inicio</div>
      <div class="circle"></div>
    </section>

    <script src="/js/script.js"></script>
    <script src="/js/script2.js"></script>
  </body>
</html>
